* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
    
}

#topo {
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;

}

.logo {
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png) no-repeat center;
    text-indent: -1000px;
}

/* Barra de navegação */

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

#topo ul {
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao #home,
body.brasil #navegacao #brasil,
body.internacional #navegacao #internacional,
body.fotos #navegacao #fotos,
body.saude #navegacao #saude,
body.ciencia #navegacao #ciencia,
body.economia #navegacao #economia
 {
    color: #fff;
    background-color: #de003e;
    cursor: text;
}

/* Área de conteúdo */

#conteudo {
    background: #f5f5f5;
    margin-top: 60px;
}

#primario {
    width: 270px;
    background: blue;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario {
    width: 270px;
    background: green;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral {
    width: 180px;
    background: yellow;
    float: left;
    margin: 0 0 20px -750px;
}

/*Rodape*/
#container-rodape{
    background: #294c71;
    padding: 20px;
    
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}